*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
}
header{
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgba(red, green, blue, 0.3); */
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)),url('../img/odisha.jpg');
    height: 100vh;
    width: 100%;
    color: wheat;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    height:7%;
    
}
header nav .logo{
    margin-left: 10%;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}
main{
    height: 93%;
    /* display: flex;
    justify-content:center ;
    align-items: center; */
}
section{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
section h3{
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px black; 
    font-size: 33px;
    font-weight: 700;
}
section h1{
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px black; 
    font-size: 33px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0 10px 0;
}
section p{
    font-size: 25px;
    margin-bottom: 25px;
    color: black;
    text-shadow: 1px 1px 2px white;
    word-spacing: 2px;
}
section div{
    display: flex;

}

section a{
    text-decoration: none;
    border-radius: 4px;
    padding: 12px 10px;
    font-size:10px ;
    font-weight:500 ;
    text-transform: uppercase;
    letter-spacing: 1px;    
}
section .btnone{
    background-color: #fff;
    color: black;
}
.btnone:hover{
    background-color: #00b894;
    color: white;
}
section .btntwo{
    background-color: #00b894;
    color: white;
    margin-left: 10px;
}
.btntwo:hover{
    background-color: #fff;
    color: black;
}
.change_text:after{
    content: "";
    animation: changetext 10s infinite linear;
    color: #00b894;
}
@keyframes changetext{
    0%{content: "Madhyapradesh"}
    15%{content: "Gujurat"}
    30%{content: "Kolkata"}
    45%{content: "Assam"}
    60%{content: "Mejoram"}
    75%{content: "Uttarakhand"}
    85%{content: "Odisha"}
    100%{content: "Kerala"}

}




