* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* height: 100vh; */
    background-color: tan;
    
}

.darkblue nav {
    background-color: darkblue;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    
}
.darkblue nav ul li{
    color:pink;
    margin-right: 10px;

}
.darkblue ul{
    display: flex;
    list-style: none;
    /* justify-content: flex-end; */
    width: 200px;
    align-items: center;


}
.darkblue img{
    height: auto;
    width: 100px;
    max-height: 60px;
}
.box1{
    border: 3px solid red;
    width: 30%;
    height: 200px;
}
.box2{
    width: 40%;
    height: 200px;
}
.box3{
    border: 3px solid red;
    width: 30%;
    height: 200px;
    text-align: center;
    line-height: 200px;
}
.first_parent{
    display: flex;
}
footer{
    width: 100%;
    background-color: black;
    color: beige;
    height: 30px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9;
}
main{
    margin-bottom:100px;
}
.parent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.parent .left{
    width: 68%;
    border: 1px solid black;
}
.parent .right{
    width: 30%;
    height: 400px;
    border: 1px solid black;
    background-color: rgb(215, 250, 250);
    color: brown;
}
.left .left1,.left2{
    width: 100%;
    height: 190px;
    border: 1px solid green;
    
}
.left2{
    margin-top: 20px;
    background-color: yellow;
    color: blue;
}
.left1{
    background-color: violet;
    color: red;
}


