*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'KoHo', sans-serif;
}
body{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)),url('../img/hotel.webp');
    background-repeat: no-repeat;
    background-size: cover;

}
nav{
    width: 100%;
    height: 15vh;
    background-color: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)) black;
    color:wheat;
}
nav ul{
    word-spacing: 18px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    text-transform: capitalize;
    font-size: 24px;
    /* word-spacing: 18px; */
    font-weight: 500;
    text-shadow: 1px 1px 3px;
        
}
main{
    color: beige;
    height: 85vh;  
    width: 100%;  
}
section h1{
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    font-size: 65px;
    text-shadow: 1px 1px 2px red;

}
section .div1{
    border: 1px solid black;
    width: 400px;
    background-color: #00000054;
    padding: 10px 20px;
}
section ul{
    text-decoration: none;
    /* border-radius: 10px; */
    padding: 12px 10px;
    font-size:10px ;
    font-weight:500 ;
    text-transform: uppercase;
    letter-spacing: 1px;    
}
section .div2{
    border: 1px solid black;
    width: 400px;
    background-color: #00000054;
    padding: 10px 20px;
    text-align: center;
}
section .parent{
    display: flex;
    justify-content:space-around;    
}
.heading{
    text-transform: capitalize;
    font-weight:700;
    font-size: large;
    margin-bottom: 20px;
}
.btn_grp{
    display: flex;
    justify-content: center;
}
.btn1{
    border: 2px solid black;
    background-color: #fff;
    color: black;
    margin-top: 10px;
    padding: 10px 20px;
padding: 10px 20px;
} .btn1:hover{
    background-color: #00b894;
    color: white;
}
.btn2{
    border: 2px solid black;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #00b894;
    color: white; 
    padding: 10px 20px;   
}
.btn2:hover{
    background-color: #fff;
    color: black;
}

marquee{
    position: fixed;
    bottom: 0;
    font-size: 35px;
    letter-spacing: 5px;
    font-weight: bold;
    color: cyan;
    text-shadow: 2px 2px 2px black;
}



